/**
 * Variables
*/

$color-black: #000;
$color-black-2: #0a0a0a;
$color-black-3: #050505;
$color-black-4: #171717;
$color-black-5: #0c0c0c;
$color-dark: #262626;
$color-dark-2: #363636;
$color-white: #fff;

$color-grey: #737373;
$color-grey-2: #a6a6a6;
$color-grey-3: #ccc;
$color-grey-4: #636363;
$color-grey-5: #d9d9d9;
$color-grey-6: #9b9b9b;
$color-grey-7: #d7d7d7;
$color-grey-8: #dcdcdc;

$color-light-grey: #f6f6f6;
$color-light-grey-2: #f7f7f7;
$color-light-grey-3: #f1f0f0;

$foreground-color: #fff;
$color-red: #ff0000;
$color-red-2: #c71721;
$color-red-primary: #dd003e;

$color-purple: #4C65F6;
$color-green: #2FBF71;
$color-gold: #ffc72c;

/* Components settings */
$header: 70px;
$footer: 218px;

/* Fonts */
$font-base: Arial, Helvetica, sans-serif;
$font-default: 'SF Pro Display', $font-base;
